
<table border="0" width="100%">
  <tr>
    <td> <fieldset style="width:300px;">
      Please login to post your comments
    </fieldset></td>
    <td align="middle">
      <%= link_to "Signup", new_customer_path %>
      &nbsp;
      <%= link_to "login", {:controller => 'logins', :action => 'new'} %>
    </td>
  </tr>
</table>


