<h1> Welcome :</h1> <%= @user.fname %>
<p>
  You have successfully signed up
  With username is: <%= @username.username %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks you</p>
