
<div id="posts">

  <% @posts.each do |p| %> <br>
      <%= render 'post' ,p: p %>
  <%end%>
</div>
<br>

<%= form_tag("/posts/create", method: "post", :id => "customerpost" ) do %>
    <%= text_area_tag(:post_content, params[:post_content] , id:  "post_content", :rows => 4,:cols => "90") %><br>
    <%= submit_tag("Post") %>
<% end %>


<% if current_client!=nil%>
    <script type="text/javascript">
        $('#customerpost').submit(function (e){
            e.preventDefault()
            action = '/posts/create'
            comment= $('#post_content').val()
            if($.trim(comment)) {
                $.ajax({
                    url: action,
                    type: 'POST',
                    data: {comment: comment}
                })
            }
        });
    </script>
<% end %>