
<% if flash[:error] %>
    <p id="notice" style="color: red" ><%= flash[:error] %></p>
    <% flash[:error]=nil %>
<% end %>


<%= link_to 'SIGNUP', new_customer_path %> &nbsp; &nbsp;
<%= link_to 'Login', log_in_path%>  &nbsp; &nbsp;
<%= link_to 'Back', posts_list_path%>
